<?xml version="1.0" encoding="UTF-8"?>
<expression>
    <minute>${expression.minute}</minute>
    <hour>${expression.hour}</hour>
    <monthDay>${expression.dayOfMonth}</monthDay>
    <month>${expression.month}</month>
    <weekDay>${expression.dayOfWeek}</weekDay>
</expression>