package com.cronexpression.builder.${component.name};

public class Range {

    private int start;
    private int end;

    /**
     * @param start Start of range
     */
    public Range setStart(int start) {
        this.start = start;
        return this;
    }

    /**
     * @param end End of range
     */
    public Range setEnd(int end) {
        this.end = end;
        return this;
    }

    @Override
    public String toString() {
        return "";
    }
}
