package com.cronexpression.builder.${name};

public class Step {

    private int step;
    private String value;

    public Step setStep(int step) {
        this.step = step;
        return this;
    }

    public Step setValue(String value) {
        this.value = value;
        return this;
    }

    @Override
    public String toString() {
        return "";
    }
}
